.contact-section {
  padding-bottom: 96px;
}

.contact-map {
  width: 605px;
  height: 601px;
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

.contact-title {
  height: 168px;
  max-height: 100%;
  margin-bottom: 16px;
}
