.conteiner {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.header-conteiner {
  display: flex;
  align-items: center;
  gap: 40px;
}

.tradition-conteiner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.formats-conteiner {
  display: flex;
  gap: 32px;
  align-items: center;
}
.contact-conteiner {
  display: flex;
  gap: 32px;
}
.footer-conteiner {
  display: flex;
  gap: 20px;
}
